body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("https://img.myloview.com/stickers/set-to-do-list-or-planning-light-bulb-note-paper-with-push-button-and-old-hourglass-on-seamless-pattern-vector-400-270467537.jpg");
}

html{
  font-size: 62.5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
